@import 'tailwindcss';

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

body {
  overflow: hidden;
}